.Vehicle {
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
  display: flex;
}

.Vehicle__image {
  flex: 1;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.Vehicle__body {
  flex: 3;
}

.Vehicle__details {
  margin: 0;
  padding: 12px;

  dd {
    margin-inline-start: 0px
  }
}

.Vehicle__detail-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.Vehicle__detail-price {
  color: var(--gray);
  font-size: .9rem;
  letter-spacing: 1px;
  margin-bottom: 12px;

}

.Vehicle__detail-description {
  color: var(--gray);
  font-size: .8rem;
}

/* Visually hide dt elements for accessibility */
.Vehicle__detail-label {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// TABLET
@media screen and (min-width: 768px) {

  .Vehicle {
    display: block;
  }

  .Vehicle:nth-child(odd) {
    border-right: 1px solid var(--light-gray);
  }

  .Vehicle__image {

    img {
      height: auto;
    }
  }

  .Vehicle__details {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .Vehicle__detail-name {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin: 16px 0;
    width: fit-content;
  }
}

// DESKTOP
@media screen and (min-width: 1024px) {

  .Vehicle {
    border-right: 1px solid var(--light-gray);
  }

  .Vehicle__detail-description {
    max-width: 350px;
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}